.container-principal {
    background: #66BB6A;
    background: linear-gradient(90deg, rgba(102, 187, 106, 1) 0%, rgba(46, 125, 50, 1) 100%);
    justify-content: space-between;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-justify: inter-word;
    padding-left: 40px;
    padding-right: 40px;
}

.container-titulo h1 {
    font-size: 32px;
}

.container-titulo p {
    font-size: 24px;
    font-weight: 150;
}

.container-opcoes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.container-opcao {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 12px;
    width: 380px;
    height: 400px;
    text-align: center;
}

.container-opcao h1 {
    font-size: 32px;
}

.container-opcao p {
    font-size: 24px;
    font-weight: 150;
}

.opcao-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: white;
    font-weight: 200;
    margin-right: 50px;
    margin-left: 50px;
}

.bar-separator {
    width: 4px;
    height: 185px;
    border-radius: 12px;
    background-color: var(--background-color);
    box-shadow: 0.3px 2px 5px black
}

.container-end {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-end a {
    color: black;
}

.h-80px {
    height: 80px;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    width: 80%;
    position: relative;
}

.icon {
    position: absolute;
    top: 11px;
    left: 10px;
}

.h-separator {
    width: 80%;
    border-radius: 12px;
    background-color: black;
    padding: 1px;
}

.input-box input {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    padding-left: 40px;
}

.container-login {
    background-color: var(--background-color);  
    padding: 10px;
    border-radius: 12px;
    width: 400px;
    height: 272px;
}

.container-login form {
    width: 100%;
    height: 100%;
    gap: 10px;
}

.container-login form h2 {
    font-size: 32px;
}

.container-registro {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 12px;
    height: 100%;
    width: 400px;
}

.container-registro form {
    width: 100%;
    height: 100%;
    gap: 10px;
}

.container-registro form h2 {
    font-size: 20px;
}

#container-register-text {
    height: 450px;
    width: 20%;
    text-align: center;
}

#container-register-text h1 {
    font-size: 48px;
}

#container-register-text span {
    font-size: 64px;
}

#container-register-text-stats {
    height: 450px;
    width: 20%;
    flex-direction: column;
}

#register-text {
    text-align: center;
}

#register-text p {
    font-size: 20px;
}

#register-text h3 {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .container-opcao {
        width: 50%;
        padding: 10px;
        height: 240px;
    }

    .opcao-text h1 {
        font-size: 16px;
    }

    .opcao-text p {
        font-size: 14px;
    }

    .separator {
        margin-right: 10px;
        margin-left: 10px;
    }

    .bar-separator {
        height: 106px;
    }

    #container-registro {
        flex-direction: column;
    }

    .container-registro {
        width: 100%;
    }

    #container-register-text {
        height: 20%;
        width: 100%;
    }

    #container-register-text h1 {
        font-size: 32px;
    }

    #container-register-text span {
        font-size: 48px;
    }

    #container-register-text-stats {
        height: 20%;
        width: 100%;
        flex-direction: row;
    }
}