.container-outro-ponto {
    position: relative;
}

.botoes-gerenciador {
    position: absolute;
    bottom: -20px;
    left: 300px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.botoes-gerenciador button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: white;
    transition: 0.5s all ease;
}

#delete {
    background-color: red;
}

#edit {
    background-color: green;
}

#graph {
    background-color: blue;
}

.botoes-gerenciador button:hover {
    background-color: var(--secondary-color) !important;
    color: black !important;
}

@media screen and (max-width: 768px) {
    .botoes-gerenciador {
        left: 10px;
    }
    
    .botoes-gerenciador button span {
        font-size: 14px;
    }
}